
body {
    font-family: Arial;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
}

/* BOX */
.box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* HOVER */
.box:hover {
    transform: scale(1.05);
}

/* IMAGE */
.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* BUTTON */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* POSITION GRID */
.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.box6 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
